{
    "semi": false,
    "printWidth": 1000,
    "tabWidth": 4,
    "singleQuote": false,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "disableLanguages": ["vue"]
}